
.btn-yellow {
  color: white;
  text-transform: uppercase;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-decoration: none;
  opacity: 0.7;
  font-size: 100px;
  padding-top: 40px;
  font-family: 'Pacifico', cursive;
color: red;
}

.btn-yellow:hover {
  text-decoration: none;
  color: yellow;

}

.btn-primary {

}
