.body {
  background-color: white;
}



.btn-yellow {
  color: #460187;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-decoration: none;
  opacity: 0.7;
  font-size: 100px;
  background-color: white;
}

.btn-yellow:hover {
  text-decoration: none;
  color: #460187;

}

.btn-primary {
    color: #fff;
    background-color: #460187;
    border-color: #460187;
    position: relative;
    /* bottom: -23px; */
    /* top: 123%; */
    left: 45%;
    /* border-radius: 30%; */
    box-shadow: 0 0 black;
    /* bottom: -32px; */
    top: 42px;
}

.btn-primary:hover {
  color: #460187;
  background-color: white;
  border-color: #460187;
}
